[submodule "NettEngine/vendor/spdlog"]
	path = NettEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "NettEngine/vendor/GLFW"]
	path = NettEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "NettEngine/vendor/imgui"]
	path = NettEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "NettEngine/vendor/glm"]
	path = NettEngine/vendor/glm
	url = https://github.com/g-truc/glm
